{% extends 'base.html' %}

{% block content %}
    <h2>Generate a Luhn Compliant Number</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form id="generate-form" method="post">
        <label for="prefix">Prefix:</label>
        <input type="text" id="prefix" name="prefix" required min = "1">
        <label for="length">Length:</label>
        <input type="number" id="length" name="length" required min="1">
        <button type="submit">Generate</button>
    </form>
    {% if number %}
        <p>Generated Number: {{ number }}</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
